body {
background: url(./Фон\ .png) fixed no-repeat;
background-size: cover;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
font-family: 'Ubuntu', sans-serif;
}

.header {
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: space-between;
width: 100vw;
height: 58px;
margin-left: auto;
margin-right: auto;
background: rgba(0, 0, 0, 0.40);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
padding-right: 79px;
padding-left: 79px;
position: sticky;
}

.header-left {
display: flex;
align-items: center;


}

.header-right {
display: flex;
flex-direction: row;
align-items: center;
color: #fff;
gap: 26px;

}

.button {
text-decoration: none;
}
span {
    /* color: #FFF; */
    transition: color 1s;
}

span:hover {
color: #01813F;
text-decoration: none;
transition: all 1s;
text-underline-offset: 3px;
}

.jorney {
color: #fff;
text-decoration: none;
font-family: Ubuntu;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 22px;
transition: color 1s;

}

.jorney:hover {
color: #01813F;
transition: all 1s;
}

.header-icons {
display: flex;
justify-content: space-between;
width: 126px;
height: 24px;

}

.stick {
height: 19px;
width: 1px;
background-color: #fff;
}

.header-text {
    text-decoration: none;
    color: #fff;
    /* transition: color 1s; */
}

.button-icon {
display: flex;
justify-content: space-between;
width: 24px;
height: 24px;
fill: #FFF;
transition: fill ease 1s;

}

.button-icon:hover * {
 fill: #01813F;
 transition: all 1s;
}

.form {
position:relative;
margin:auto;
margin-top: calc(50vh - 350px);
width: 444px;
height: 584px;
background-color: #fff;
padding: 31px 60px 38px 60px;
box-sizing: border-box;
}

.row-1 {
display: flex;
justify-content: space-between;
align-items: center;
}

.row-2 {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

.row-3 {
display: flex;
box-sizing: border-box;
flex-direction: row;
align-items: center;
justify-content: space-between;
margin-top: 31px;
}
.square {
width: 18px;
height: 18px;
background: #3CB878;
position: absolute;
left:0;
top:29px;
}

.sing-up {
color: #434343;
font-family: Ubuntu;
font-size: 20px;
font-weight: 400;
line-height: 20px;
}

.button-link {
color: #3CB878;
font-family: Ubuntu;
font-size: 14px;
font-weight: 400;
line-height: 14px;
text-decoration: none;
transition: color 1s;
}

.button-link:hover {
color: #01813F;
text-decoration:underline ;
transition: all 1s;
}

.fb-button {
padding: 10px 22px 12px 11px;
margin-top: 13px;
box-sizing: border-box;
display: flex;
align-items: center;
width: 160px;
height: 48px;
background: #305DB8;
color: #fff;
border-radius: 3px;
transition: background-color 1s;
}

.button-fb {
text-decoration: none;
}

.button-fb:hover * {
background-color: #022263;
text-decoration: none;
transition: all 1s;
}

.stick-fb {
opacity: 0.1;
background: #0A162F;
width: 1px;
height: 28px;
margin-left: 13px;
margin-right: 18px;
}

.fb {
width: 71px;
height: 14px;
}

.button-google {
text-decoration: none;
}

.button-google:hover * {
background-color: #AB1F09;;
text-decoration: none;
transition: all 1s;
}

.google-button {
padding: 15px 27px 14px 12px;
margin-top: 13px;
box-sizing: border-box;
display: flex;
align-items: center;
width: 160px;
height: 48px;
background: #DF4A32;;
color: #fff;
border-radius: 3px;
transition: background-color 1s;
}

.stick-google {
opacity: 0.1;
background: #0A162F;
width: 1px;
height: 28px;
margin-left: 13px;
margin-right: 18px; 
}

.google {
width: 53px;
height: 14px;
}

.stick-row-3 {
width: 152px;
height: 1px;
background: #F2F2F2;
}

.or {
color: #848484;
font-family: Ubuntu;
font-size: 14px;
font-weight: 400;
line-height: 14px;
margin-left: 2px;
margin-right: 2px;
}

.form-title {
display: flex;
flex-direction: column;
gap: 15px;  
}

.text-row-3 {
width: 324px;
height: 44px;
border-radius: 4px;
border: 1px solid #F2F2F2;
font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; 
}

.row-3-jason {
box-sizing: border-box;
padding-left: 20px;
margin-top: 17px;
    

}
.row-3-jason:focus {
box-shadow:0px 3px 8px rgba(0, 0, 0, 0.21);
fill: #fff;
outline: none;
}

.row-3-last-name {
box-sizing: border-box;
padding-left: 20px; 
}

.row-3-last-name:focus {
box-shadow:0px 3px 8px rgba(0, 0, 0, 0.21);
fill: #fff;
outline: none;
}

.row-3-email {
box-sizing: border-box;
padding-left: 20px; 
}

.row-3-email:focus {
box-shadow:0px 3px 8px rgba(0, 0, 0, 0.21);
fill: #fff;
outline: none;
}

.row-3-choose {
box-sizing: border-box;
padding-left: 20px;
}

.row-3-choose:focus {
box-shadow:0px 3px 8px rgba(0, 0, 0, 0.21);
fill: #fff;
outline: none;  
}

.row-3-jason-confirm {
box-sizing: border-box;
padding-left: 20px;  
}

.row-3-jason-confirm:focus {
box-shadow:0px 3px 8px rgba(0, 0, 0, 0.21);
fill: #fff;
outline: none; 
}

.real-checkbox {
display: none;
}

.custom-checkbox {
display: inline-block;
background: #fff;
border: 1px solid #F2F2F2;
margin-right: 5px;
vertical-align: sub;
width: 20px;
height: 20px;
position: relative;
}

 .custom-checkbox::before {
content: '';
display: inline-block;
width: 13px;
height: 14px;
background-image: url(./Vector\ 1.svg);
background-size: contain;
background-repeat: no-repeat;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%) scale(0);
margin-top: 1px;
}

 .real-checkbox:checked + .custom-checkbox::before {
transform: translate(-50%, -50%) scale(1);
}

 .form-group {
margin-top: 12px;
font-weight: 400;
font-size: 14px;
}

 .form-text {
text-decoration: none;
color: #3CB878;
}

.name-button {
display: block;
padding: 16px;
text-align: center;
border-radius: 4px;
background: rgba(60, 184, 120, 0.80);
margin-top: 20px;
color: #FFF;
font-family: Ubuntu;
font-size: 16px;
font-weight: 400;
line-height: 16px;
text-decoration: none;
transition: background-color 1s;
}

.name-button:hover  {
color: #FFF;
background-color: #01813F;
text-decoration: none; 
transition: all 1s;
}
input::placeholder {
color: #999; 
}
